<configuration>
  <appSettings>
    <add key="endpointURL" value="https://azurecalculator.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="Hzd8R9ITDt1WoCt0b4hPmDXeSI8jaFmwFE0gLGII8oEV38JIsfPQabWEYADoVqVtYMvUIXYdU17uKzsb9vrrNg=="/>
    <add key="DatabaseId" value="AzureRateCard"/>
    <add key="PAYGCollectionId" value="PAYG"/>
    <add key="RICollectionId" value="RI"/>
	  <add key="clientId" value="ae4efc37-7477-4389-8b26-2bb0daa22118"/>
	  <add key="client_secret" value="uDX194QWPg6BUtA2IWEXhlkjQ3jNGX2zsIhUaMVjHOY="/>
	  <add key="tenantId" value="9656014e-20b5-4e57-8358-ae4c00dee57d"/>
	  <add key="subscriptionId" value="66038f12-33e1-443e-991b-f34a77c99096"/>
  </appSettings>
</configuration>