<configuration>
  <appSettings>
    <add key="endpointURL" value="https://azurecalculator.documents.azure.com:443/"/>
    <add key="AuthorizationKey" value="Hzd8R9ITDt1WoCt0b4hPmDXeSI8jaFmwFE0gLGII8oEV38JIsfPQabWEYADoVqVtYMvUIXYdU17uKzsb9vrrNg=="/>
    <add key="DatabaseId" value="AzureRateCard"/>
    <add key="CollectionId" value="PAYG"/>
  </appSettings>
</configuration>